/* Name: Jikke van den end_year
Student number: 10787593
This css file sets the style for the scatter html file */

#barchart svg {
    background-color: #ABDDA4;
}
#barchart text {
  fill: #635F5D;
  font-family: sans-serif;
}
#barchart .x-label {
  fill: #3c3938;
}
