/* Name: Jikke van den end_year
Student number: 10787593
This css file sets the style for the scatter html file */

body {
    background-color: white;
}
h3 {
    color: darkcyan;
}
p {
    color: black;
}
b {
  color: black;
}
